<!DOCTYPE html>
<html>
<head>
<title><%=@article.title%> </title>
</head>


<body>
<%= @article.title %>
<%= @article.content %>
<a href='/articles/<%=@article.id%>/edit'>Edit Article </a>

    <form method="post" action="/articles/<%= @article.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this book">
    </form>
</body>
</html>